.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  width: 400px;
  height: 400px;
  margin: 5px;
  padding: 5px;
}

.page-default {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background-color: #1890ff;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
}

.page-header-logo {
  width: 200px;
  margin-left: -16px;
  display: block;
}

.page-header-wrap {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.page-header-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-header-nav > li {
  display: inline-block;
  vertical-align: middle;
}

.page-header-nav-item {
  display: block;
  min-width: 50px;
  padding: 8px 2px;
  line-height: 100%;
  text-align: center;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
}

.page-header-search {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 24px;
}

.page-content {
  display: block;
  margin-top: 64px;
}

.page-aside {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 14;
  width: 200px;
  margin-top: 64px;
  overflow: hidden;
  background-color: #fff;
  backface-visibility: hidden;
}

.page-aside-inner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.page-aside-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 24px 0;
  cursor: pointer;
}

.page-aside-nav-container {
  padding-top: 24px!important;
  padding-bottom: 24px!important;
  display: block!important;
}

.page-sidebar-nav {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.page-sidebar-nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 3px solid transparent;
  transition: border-left-color .4s ease;
}

.page-aside-nav-group-title {
  padding: 8px 16px;
  color: rgba(0,0,0,.45);
}

.page-sidebar-nav-item-selected {
  background-color: #fcfcfc;
  border-left-color: #1890ff;
}

.page-sidebar-nav-item-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  overflow: hidden;
  color: rgba(0,0,0,.65);
  white-space: nowrap;
  text-decoration: none!important;
  text-overflow: ellipsis;
  user-select: none;
}

.page-sidebar-nav-item-sub {
  display: none;
  overflow: hidden;
}

.page-sidebar-nav-open>.page-sidebar-nav-item-sub {
  display: block;
  -webkit-animation: .5s fadeIn;
  animation: .5s fadeIn;
}
